In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("stocks.csv")

In [4]:
df.head()

,Ticker,Name,Exchange,Category Name,Country,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA,NaN,NaN,NaN
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA,NaN,NaN,NaN
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA,NaN,NaN,NaN
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA,NaN,NaN,NaN
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA,NaN,NaN,NaN

In [5]:
df.drop(columns=['Unnamed: 5','Unnamed: 6','Unnamed: 7'], inplace=True)

In [6]:
df.head()

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA

In [7]:
df.drop(columns=['Category Name'], inplace=True)

In [8]:
df.head()

  Ticker                                     Name Exchange Country
0   OEDV  Osage Exploration and Development, Inc.      PNK     USA
1   AAPL                               Apple Inc.      NMS     USA
2    BAC              Bank of America Corporation      NYQ     USA
3   AMZN                         Amazon.com, Inc.      NMS     USA
4      T                                AT&T Inc.      NYQ     USA

In [9]:
df.describe()

        Ticker          Name Exchange Country
count   106328         96676    95092   95091
unique  106328         64859       67      41
top       OEDV  FINANC/TERMO      PNK     USA
freq         1           439    14602   22169

In [23]:
df.dropna()

        Ticker                                     Name Exchange    Country
0         OEDV  Osage Exploration and Development, Inc.      PNK        USA
1         AAPL                               Apple Inc.      NMS        USA
2          BAC              Bank of America Corporation      NYQ        USA
3         AMZN                         Amazon.com, Inc.      NMS        USA
4            T                                AT&T Inc.      NYQ        USA
...        ...                                      ...      ...        ...
106323  G5N.SG          Groupon Inc. Reg. Shares DL-,00      STU    Germany
106324  N1H.AX                      N1 Holdings Limited      ASX  Australia
106325  1K2.BE                  K2M GROUP HLDGS DL-,001      BER    Germany
106326  2RM.BE                 RE/MAX HLDGS A DL -,0001      BER    Germany
106327   2RM.F                    RE/MAX Holdings, Inc.      FRA     France

[95089 rows x 4 columns]

In [24]:
import pickle as pk

In [25]:
df.to_pickle('Stocks.pkl')

In [26]:
exchanges_with_stocks = df['Exchange'].value_counts()
valid_exchanges = exchanges_with_stocks[exchanges_with_stocks > 0]

In [27]:
valid_exchanges

Exchange
PNK    14602
FRA    10087
BER     6968
BSE     6087
STU     5444
       ...
TAL       16
SHZ        5
EUX        3
MDD        1
MAD        1
Name: count, Length: 67, dtype: int64

In [42]:
print(df['Exchange'].value_counts().sum())
print(valid_exchanges.sum())

95092
95092